.add-container {
    display: flex;
    justify-content: center;
    background-color: #f1f0f0;
}

.add-container > div {
    margin: 5px;
    border-radius: 5px;
    box-shadow: 2px 1px 1px gainsboro;
    width: 380px;
    padding: 10px 10px;
    background-color: white;
}

.search-container {
    display: flex;
    justify-content: center;
    background-color: white;
}

.search-form {
    display: flex;
    justify-content: center;
}

.addPage-button {
    margin-left: 5px;
    background-color: #1A918B;
    color: white;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 2px #0B4D49;
    cursor:pointer;
}

.addPage-button:hover {
    background-color: #106964;
}

.addPage-button:active {
    box-shadow: 0 2px #052624;
    transform: translateY(1px);
}

.add-form {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    background-color: white;
}

.add-form > div {
    display: flex;
    flex-direction: column;
}

.add-form > div > input {
    margin-top: 10px;
}

.add-form > button {
    margin-top: 10px;
}

.seachCard-form {
    font-size: .8em;
    display: flex;
    flex-direction: column;
    margin: 15px 5px 0 5px;
    border-radius: 5px;
    background-color: #F0F3F0FF;
    box-shadow: 2px 2px 3px #1A918B;
    width: 400px;
}

.seachCard-form > div {
    display: flex;
    justify-content: center;
    padding: 2px;
    align-content: stretch;
    align-items: baseline;
}

.seachCard-form > div:last-child > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25px;
    grid-template-areas:
    "symbol button";
}

.search-stock {
    grid-area: symbol;
    align-self: center;
    justify-self: end;
}

.select-button {
    grid-area: button;
    align-self: center;
    margin-left: 10px;
}

input:focus {
    border: 2px solid #1A918B;
    outline: none;
    border-radius: 2px;
}