.card-legend {
    font-size: 80%;
}

.card-legend {
    display: flex;
    justify-content: space-between;
    background-color: gainsboro;
    height: 35px;
    align-items: center;
    min-width: 400px;
    border-radius: 10px;
}

.card-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.card-details {
    display: flex;
    flex-direction: column;
    min-width: 400px;
}

.card-details > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    background-color: #f1f0f0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.name {
    align-items: stretch;
    flex-grow: 1;
    padding-left: 10px;
}

.shares {
    display: flex;
    width: 55px;
    justify-content: flex-end;
    padding-right: 5px;
}

.allocation {
    display: flex;
    justify-content: flex-end;
}

.startpage-logo {
    padding-top: 4px;
    width: 25px;
    height: auto;
    border-radius: 50%;
    padding-left: 5px;
}

.card-details > div:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    background-color: #f1f0f0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.price {
    padding-left: 5px;
}

.button-editPage {
    padding-right: 5px;
}

