.card-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.card-legend {
    display: grid;
    width: 400px;
    grid-template-columns: 80px 40px 190px 35px 55px;
    grid-template-rows: 20px 20px;
    grid-template-areas:
    "price . . . allocation"
    "value . totalReturn . shares";
    padding: 5px 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #93cbc8;
    box-shadow: 2px 1px 1px gainsboro;
}

.card-details {
    display: grid;
    width: 400px;
    grid-template-columns: 80px 40px 190px 35px 55px;
    grid-template-rows: 35px 20px 10px 20px 35px;
    grid-template-areas:
    "logo name name allocation allocation"
    "logo isin isin shares shares"
    "none none none none none"
    "price price price price editButton"
    "value value totalReturn totalReturn editButton";
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 1px 1px gainsboro;
}
.startpage-logo {
    width: 50px;
    border-radius: 50%;
    padding-top: 5px;
}
.anker {
    grid-area: logo;
    justify-self: center;
}

.name {
    grid-area: name;
    padding-left: 10px;
    font-weight: 600;
}

.isin {
    grid-area: isin;
    padding-left: 10px;
    font-size: .8em;
}

.button-editPage {
    grid-area: editButton;
    justify-self: center;
}

.price {
    grid-area: price;
    padding-left: 10px;
    font-size: .8em;
}

.value {
    grid-area: value;
    padding-left: 10px;
    font-weight: 600;
}

.total-return {
    grid-area: totalReturn;
    padding-left: 10px;
    font-weight: 600;
}

.allocation {
    grid-area: allocation;
    justify-self: end;
    padding-right: 10px;
    font-weight: 600;
}

.shares {
    grid-area: shares;
    justify-self: end;
    padding-right: 10px;
    font-size: .8em;
}
