.card-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.card-details {
    display: grid;
    width: 400px;
    grid-template-columns: 80px 40px 190px 35px 55px;
    grid-template-rows: 35px 20px 10px 20px 35px;
    grid-template-areas:
    "logo name name allocation allocation"
    "logo isin isin shares shares"
    "none none none none none"
    "price price price price editButton"
    "value value totalReturn totalReturn editButton";
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 1px 1px gainsboro;
}
.startpage-logo {
    width: 50px;
    border-radius: 50%;
    padding-top: 5px;
}
.anker {
    grid-area: logo;
    justify-self: center;
}

.name {
    grid-area: name;
    padding-left: 10px;
    font-weight: 600;
}

.isin {
    grid-area: isin;
    padding-left: 10px;
    font-size: .8em;
}

.button-editPage {
    grid-area: editButton;
    justify-self: center;
}

.price {
    grid-area: price;
    padding-left: 10px;
    font-size: .8em;
}

.value {
    grid-area: value;
    padding-left: 10px;
    font-weight: 600;
}

.total-return {
    grid-area: totalReturn;
    padding-left: 10px;
    font-weight: 600;
}

.allocation {
    grid-area: allocation;
    justify-self: end;
    padding-right: 10px;
    font-weight: 600;
}

.shares {
    grid-area: shares;
    justify-self: end;
    padding-right: 10px;
    font-size: .8em;
}


/*.card-legend {*/
/*    font-size: 80%;*/
/*}*/

/*.card-legend {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    background-color: gainsboro;*/
/*    height: 35px;*/
/*    align-items: center;*/
/*    min-width: 400px;*/
/*    border-radius: 10px;*/
/*}*/


/*.card-details {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    min-width: 400px;*/
/*}*/

/*.card-details > div:first-child {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    height: 35px;*/
/*    background-color: #f1f0f0;*/
/*    border-top-left-radius: 10px;*/
/*    border-top-right-radius: 10px;*/
/*}*/

/*.name {*/
/*    align-items: stretch;*/
/*    flex-grow: 1;*/
/*    padding-left: 10px;*/
/*}*/

/*.shares {*/
/*    display: flex;*/
/*    width: 55px;*/
/*    justify-content: flex-end;*/
/*    padding-right: 5px;*/
/*}*/

/*.allocation {*/
/*    display: flex;*/
/*    justify-content: flex-end;*/
/*}*/

/*.startpage-logo {*/
/*    padding-top: 4px;*/
/*    width: 25px;*/
/*    height: auto;*/
/*    border-radius: 50%;*/
/*    padding-left: 5px;*/
/*}*/

/*.card-details > div:last-child {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    height: 35px;*/
/*    background-color: #f1f0f0;*/
/*    border-bottom-left-radius: 10px;*/
/*    border-bottom-right-radius: 10px;*/
/*}*/

/*.price {*/
/*    padding-left: 5px;*/
/*}*/

/*.button-editPage {*/
/*    padding-right: 5px;*/
/*}*/

