.stock-details-container {
    display: flex;
    justify-content: space-around;
}

.stock-details-container > div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 10px;
}

.editPage-logo {
    width: 120px;
    height: auto;
    padding: 0 10px;
}

.editPage-button {
    background-color: #24B3AB;
    margin: 10px 0 0 0;
    width: 70px;
}

.update-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.edit-label {
    padding: 0 10px;
    border-radius: 20px;
    margin: 0 5px;
}

#buy, #sell {
    display: none;
}

.update-form > div > label:nth-child(2) {
    background-color: #c4e5c4;
}

.update-form > div > label:last-child {
    background-color: #e3bdbd;
}

.update-form > input {
    margin-top: 10px;
}






