.card-legend {
    font-size: 80%;
}

.card-legend {
    background-color: gainsboro;
}

.card-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.card-details {
    display: flex;
    justify-content: space-between;
    background-color: #f3f0f0;
}

.card-details, .card-legend {
    display: flex;
    align-items: center;
    width: 600px;
    height: 40px;
    border-radius: 10px;
}

.anker {
    width: 50px;
}

.logo {
    width: 30px;
    height: auto;
    border-radius: 50%;
}

.name {
    display: flex;
    justify-content: flex-start;
    width: 150px;
    flex-grow: 1;
}

.shares {
    width: 40px;
}

.price {
    flex-grow: 1;
}

.allocation {
    width: 80px;
}

.total-return {
    flex-grow: 1;
}

